db.url=
db.user=postgres
db.password=
db.driver-class-name=org.postgresql.Driver
db.hikari.pool-size=20

hibernate.dialect=org.hibernate.dialect.PostgreSQL10Dialect
hibernate.hbm2ddl.auto=update
hibernate.format_sql=true
hibernate.show_sql=true
hibernate.enable_lazy_load_no_trans=true

mongodb.name=agona_project_practice_2022
mongodb.files.collection.name=files

spring.servlet.multipart.max-request-size=104857600
spring.servlet.multipart.max-file-size=104857600

mail.host=smtp.gmail.com
mail.port=587
mail.username=
mail.password=

mail.properties.mail.smtp.starttls.enable=true
mail.properties.mail.smtp.allow8bitmime=true
mail.properties.mail.smtp.ssl.trust=smtp.gmail.com
mail.properties.mail.debug=true

jwt.secret=cocoursecoflowco
jwt.expiration.access.millis=600000
jwt.expiration.refresh.millis=86400000

blog.default-page-size=6

oauth2.vk.v=5.131
oauth2.vk.client.id=8162771
oauth2.vk.client.secret=Z2BN1WtWOGuexJK0Ksvq
oauth2.vk.redirect-uri=http://localhost/api/v1/auth/vk/success
oauth2.vk.api.authorize.url=https://oauth.vk.com/authorize
oauth2.vk.api.access-token.url=https://oauth.vk.com/access_token
oauth2.vk.api.users.get.url=https://api.vk.com/method/users.get
